ul {
  list-style-type:none;
}

#buy {
  font-family: "Raleway", sans-serif;
  background-color: #FFD700;
  padding: 10px;
  margin: 7px 0px;
  border-radius: 5px;
  height:20px;
  text-decoration: none;
}
